@charset "utf-8";

$site-link: #e8e8ff;
$article-link: #a0a0e8;

$link: $site-link;
$info: $article-link;
@import "../node_modules/bulma/bulma.sass";

$addColors: (
    "site-link":($site-link),
    "article-link": ($article-link)
); 
$colors: map-merge($colors, $addColors);

