@charset "utf-8";

$site-link: #e8e8ff;
$article-link: #a0a0e8;

$link: $site-link;
$info: $article-link;

@import "../node_modules/bulma/bulma.sass";

$tool-background:  #f4f4f8;
$addColors: (
    "tool-background":($tool-background)
); 
$colors: map-merge($colors, $addColors);

