
.button {
    background-color: var(--lt);
}

.blurb {
    width: 365px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#resources {
    gap: 1rem;
}

.ai-tool-content {
    gap: 1rem;
}

.header {
    margin: auto;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background: transparent;
}

.header-items {
    gap: 1rem;
}

html {
    height: 100%
}

body {
	margin: 0;
	background-color: var(--bg);
	color: var(--fg);
	font-family: "Inter", sans-serif;
  height: 100%;
}

#main-wrap {
    height: 100%;
}


.welcome-container {
    padding-bottom: 5rem;
}

.welcome-msg {
    font-size: 4rem;
    font-weight: 900;
    color: black;
}

.filters {
    margin: 0 auto;
    gap: 2rem;
}


.navbar-menu.is-active {
    display: grid;
}
hr {
	background-color: lightgray;
  margin: 0.5rem;
}


span.tag, span.tag-btn {
	display: inline-block;
	margin: 2px 4px;
	border-radius: 12px;
	padding: 6px 8px;
	height: 17px;
	line-height: 5px;
	font-size: 10pt;
	font-weight: 300;
}
span.tag {
	margin: 2px 0;
	margin-right: 4px;
	border: 1px solid var(--fg);
	background-color: var(--lt);
	font-weight: 400;
}
span.tag-btn {
	background-color: var(--ds);
}
span.tag-btn:hover {
	cursor: pointer;
}
span.tag-btn.enabled {
	box-shadow: 0 0 0 1px var(--lt);
	background-color: var(--br);
	font-weight: 400;
}
